
.style {
	font-family: Helvetica, Arial, Times New Roman, Serif;
}
body {
	font-family: Helvetica;
	font-size:10px;
}
/*removing underline from header links */
}
a:link, a:visited {
	text-decoration: none;
	color:black;
	text-align: center;
	margin-bottom: 1px;


}
/*changing paragaph to allign left and only extend 600 pixels */
p {
	text-align: left;
	width: 600px;

}
/* removes bullet points from list */
li {
	list-style: none;
}
/* making titals italic */
.ital {
	font-style: italic;
}
/* making list blue and kerned */
ul {
	font-kerning: 5;
	color: black;
} 

/* moving my name image padded left */
.imagePadding {
	padding-left:175px;
}