
.style {
	font-family: Helvetica, Arial, Times, Serif;
}

/* add box constraints to every element */
* {
	box-sizing:border-box;
}

/*main colours for body*/
body {
	font-family: Helvetica;
	font: size 3em;
	margin: 0px, 10px, 10px, 10px;
	background-color: red;
	color:black

	/* not working cursor: url(url(https://cur.cursors-4u.net/cursors/cur-11/cur1056.ani), url(http://cur.cursors-4u.net/cursors/cur-11/cur1056.png), auto !important); */
}

img {
	opacity: 1.0;
  }
  
  img:hover {
	opacity: 0.5;
  }

/*removing underline from header links */

a:link, a:visited {
	text-decoration: none;
	color:black;
	text-align: left ;
	margin-bottom: 1px;

}
/* changing links to opacity 1 when hoevered but doesnt really work 
a:hover {
	opacity: 1.0
}
*/

/*changing paragaph to allign left and only extend 600 pixels */
p {
	text-align: left;
	width: 50%;
	/*float: left;*/
	padding: 2px;
	margin: auto;

}

h3 {
	font-weight: normal;
}
/* removes bullet points from list */
li, ul {
	list-style: none;
	text-align: justify;
	color: black;
}
/* making titals italic */
.ital {
	font-style: italic;
}


h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

/* moving my name image padded left */
.imagePadding {
	padding-left:175px;
}

.information {
	float: left;
}